<div class="row g-3">
    <div class="col-12">
        <label class="form-label">Mã hàng:</label>
        <input name="MaHang" class="form-control" placeholder="A01" />
    </div>
    <div class="col-12">
        <label class="form-label">Tên hàng:</label>
        <input name="TenHang" class="form-control" placeholder="Áo sơ mi" />
    </div>
    <div class="col-12">
        <label class="form-label">Loại hàng:</label>
        <select name="LoaiHang" class="form-select">
            <option>Quần áo</option>
            <option>Giày dép</option>
            <option>Phụ kiện</option>
        </select>
    </div>
    <div class="col-12">
        <label class="form-label">Đơn giá:</label>
        <input name="DonGia" class="form-control" placeholder="3000" />
    </div>
    <div class="col-12">
        <label class="form-label">Số lượng:</label>
        <input name="SoLuong" class="form-control" placeholder="5000" />
    </div>
</div>
